@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.container{
  display: flex;
  flex-direction: column;
}

.contain{
  display: flex;
  justify-content: space-between;
}

.filter{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-top: 3em;
}

.order{
  margin-right: 1em;
  margin-top: 3em;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    height: 65vh;
  }

  .h1{
    font-family: 'Lilita One', sans-serif;
    color: #ec0a12;
    font-size: 1em;
    text-align: center;
  }