@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fafafa;
    padding: 1em;
    width: 60vw;
    float: left
};

.divSelect{
    display: flex;
}

.content{
    display: flex;
}

.input{
    font-family: 'Lilita One', sans-serif;
    display: flex;
    font-size: 1em;
    font-weight: 100;
    width: 20em;
    height: 2em;
    margin: 1em;
    border: none;
    border-bottom: 2px solid #1d1d1d;
    background-color:  #fafafa;
}

.input::placeholder{
    color: #636363;
}

.textarea{
    margin-top: 1em;
    width: 400px;
    height: 300px;
    resize: none;
    background-color: #1d1d1d;
    color: #fff;
}

.select{
    font-family: 'Lilita One', sans-serif;
    width: 400px;
    height: 450px;
    margin-top: 2em;
    background-color: #1d1d1d;
    color: #fff;
}

.input:focus {
    outline: none;
}

.option{
    font-size: 1.3em;
    width: 20em;
}

.button{
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 2em;
    width: 10em;
    height: 3em;
    transition: 0.7s;
    margin: 2em;
    font-family: 'Lilita One', sans-serif;
    background-color: #1d1d1d;
    color: #fff;
}

.button:hover{
    background-color: #ec0a12;
    color: #fff;
}

.select::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .select::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  .select::-webkit-scrollbar-thumb {
    background-color: #858585;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #858585;  /* creates padding around scroll thumb */
  }

  /* .option:checked{
    background-color: #e00500;
    color: #fff;
  }

  .option::selection{
    background-color: #e00500;
    color: #fff;
  } */