.divContainer {
    display: flex;
    font-family: inherit;
}

.input {
    border: 2px solid #1c1c1e;
    border-radius: 20px;
    text-align: center;
    height: 2em;
    width: 15em;
    background-color: transparent;
    color: #1d1d1d;
    transition: 0.7s;
}

.input::placeholder{
    color: #1c1c1e;
}