@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.divContainer {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.divButton {
    display: flex;
}

.next, .prev {
    width: 2.5em;
    height: 3em;
    cursor: pointer;
    margin: 2em;
    border: none;
    background: transparent;
}

.next{
    transform: rotate(90deg);
}

.prev{
    transform: rotate(-90deg);
}

.next{

}