.divContainer {
    font-family: monospace;
    padding: 0;
    margin: 0;
    background-image: url('../../../public/Background.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.title {
    font-size: 0.7em;
    color: #f0f8ff;
    margin-left: 2em;
}


.button {
    color: #1d1d1d;
    background-color: #f0f8ff;
    border: none;
    width: 10em;
    height: 3em;
    border-radius: 10em;
    cursor: pointer;
    font-weight: 100;
    margin: 1em;
    transition: 0.7s;
}

.button:hover{
    color: #f0f8ff;
    background-color: #1d1d1d;
}