@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.divContainer{
    display: flex;
    width: 100vw;
    height: 15vh;
    margin-top: 1em;
    font-family: 'Lilita One', sans-serif;
}

.divLogo{
    flex-grow: 1;
    width: 33vw;
}

.logo{
    filter: grayscale(100%);
    width: 70px;
    padding-left: 1em;
}

.links{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    width: 33vw;
}

.links2{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.h1{
    line-height: 0;
}

.link{
    color: #858585;
    text-decoration: none;
}

.link:hover{
    color: #1d1d1d;
    text-decoration: underline;
}

.search{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    width: 33vw;
}